@import "tailwindcss";
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*------------------------------------------------*/

/* Common for all*/
button {
    padding: 4px 10px;
    border-radius: 6px;
}

button:hover {
    scale: 1.03;
}

button:active {
    scale: 0.96;
}

.backBtn {
    background: linear-gradient(135deg, var(--color-amber-300), var(--color-amber-500));
}

.secHeader {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid var(--color-slate-500);
    display: flex;
    align-items: center;
    gap: 8px;
}

.semibold {
    font-weight: 500;
}
/*------------------------------------------------*/

/* ----- HEADER ----- */
header {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, var(--color-blue-500), var(--color-blue-600));
    color: var(--color-white);
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

nav {
    position: relative;
    display: flex;
    gap: 10px;
}

.nav-links {
    padding-right: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.cartCount {
    padding: 2px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: -10px;
    right: 32px;
    border-radius: 50%;
    background: var(--color-red-600);
    color: var(--color-red-50);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- SEARCH BAR ----- */
.searchBar {
    width: 100%;
    padding: 20px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    width: 80%;
    padding: 4px 12px;
    border: 1px solid var(--color-slate-200);
    background: var(--color-slate-200);
    border-radius: 8px;
    outline: none;
    color: var(--color-slate-800);
}
::placeholder {
    color: var(--color-slate-400);
}

/* ----- LOADER ----- */

.loaderContainer {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #e5e7eb;
  border-top: 6px solid #2563eb;
  border-radius: 50%;

  animation: spin 0.8s linear infinite;
}

.loaderText {
  font-size: 1.1rem;
  font-weight: 600;
  color: #475569;
  letter-spacing: 0.5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ----- CART ITEM----- */
.cartItem {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    background: linear-gradient(180deg, var(--color-slate-50), var(--color-slate-200));
}

.cartItem img {
    width: 20%;
    height: fit-content;
}

.cartText {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cartItemDiv2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cartBtns {
    width: fit-content;
    display: flex;
    align-items: center;
}

.incBtn {
    height: 32px;
    width: 32px;
    background: linear-gradient(180deg, var(--color-slate-200), var(--color-slate-300));
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.decBtn {
    height: 32px;
    width: 32px;
    background: linear-gradient(180deg, var(--color-slate-200), var(--color-slate-300));
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.qty {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--color-slate-300);
    border-top: 2px solid var(--color-slate-200);
}

.removeBtn {
    background: linear-gradient(135deg, var(--color-red-500), var(--color-red-600));
    color: white;
}

/* ----- PRODUCT ITEM----- */
.productItemCard {
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    transition: all;
    transition-duration: 0.2s;
    background: linear-gradient(180deg, var(--color-slate-50), var(--color-slate-200));
}

.productItemCard:hover {
    scale: 1.02;
    box-shadow: 0px 2px 4px var(--color-blue-400);
}

.productTitle {
    font-weight: 600;
    font-size: 18px;
}

.cardBtns {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.viewBtn {
    background: linear-gradient(135deg, var(--color-amber-300), var(--color-amber-500));
}

.addToCartBtn {
    background: linear-gradient(135deg, var(--color-cyan-300), var(--color-cyan-500));
}

/* ----- PRODUCT LIST ----- */
.productsListContainer {
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-slate-800);
}

.productList {
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 12px;
}

/*-----------------------------------------------

/* ----- PRODUCT DETAILS PAGE ----- */
.productDetailsContainer {
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-slate-800);
}

.productDetails {
    margin: 15px;
    padding: 20px 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background:  linear-gradient(180deg, var(--color-slate-50), var(--color-slate-200));
    box-shadow: 0px 2px 10px var(--color-slate-400);
}

.textDiv {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.btnDiv {
    padding: 8px 0;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

/* ----- NOT FOUND ----- */
.notFound {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: var(--color-red-50);
}

.notFound h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--color-red-600);
}

.notFound h2 {
    font-weight: 500;
    font-size: 32px;
    color: var(--color-red-600);
}

/* ----- CART ----- */
.cartContainer {
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-slate-800);
}

.emptyCart {
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.emptyCart h3 {
    color: var(--color-red-600);
    font-weight: 700;
    font-size: 24px;
}

.totalAmount {
    padding: 20px 0;
    font-weight: 700;
    font-size: 20px;
}

.checkout {
    background: linear-gradient(180deg, var(--color-blue-400), var(--color-blue-500));
    color: white;
}

/* ----- CHECKOUT PAGE ----- */

.checkoutContainer {
    padding: 12px;
}

form {
    width: 80vw;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 12px;
}

form input {
    padding: 8px 12px;
    border: 2px solid var(--color-slate-300);
    border-radius: 8px;
    outline: none;
}

textarea {
    padding: 8px 12px;
    border: 2px solid var(--color-slate-300);
    border-radius: 8px;
    outline: none;
    resize: none;
}

form button {
    background: linear-gradient(180deg, var(--color-green-500), var(--color-green-600));
    color: white;
}

.summary {
    padding: 20px 12px;
    background: linear-gradient(180deg, var(--color-slate-50), var(--color-slate-200));
    border-radius: 12px;
}

/*------------------------------------------------*/

/* ----- MEDIA QUERIES ----- */

/* SMALL SCREEN */
@media (max-width: 600px) {
    .productList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    }

    .btnDiv {
        display: flex;
        flex-direction: column;
    }
}