@import "tailwindcss";
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*------------------------------------------------*/

/* Common for all*/
button {
    padding: 4px 10px;
    border-radius: 6px;
}

button:hover {
    scale: 1.03;
}

button:active {
    scale: 0.96;
}

.backBtn {
    background: linear-gradient(135deg, var(--color-amber-300), var(--color-amber-500));
}

.secHeader {
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid var(--color-slate-500);
}

.semibold {
    font-weight: 500;
}
/*------------------------------------------------*/

/* ----- HEADER ----- */
header {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, var(--color-blue-500), var(--color-blue-600));
    color: var(--color-white);
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

nav {
    position: relative;
    display: flex;
    gap: 10px;
}

.nav-links {
    padding-right: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.cartCount {
    padding: 2px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: -10px;
    right: 32px;
    border-radius: 50%;
    background: var(--color-red-600);
    color: var(--color-red-50);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- SEARCH BAR ----- */
.searchBar {
    width: 100%;
    padding: 20px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput {
    width: 80%;
    padding: 4px 12px;
    border: 1px solid var(--color-slate-200);
    background: var(--color-slate-200);
    border-radius: 8px;
    outline: none;
    color: var(--color-slate-800);
}
::placeholder {
    color: var(--color-slate-400);
}

/* ----- LOADER ----- */
/* ----- CARD ITEM----- */
/* ----- PRODUCT ITEM----- */
.productItemCard {
    padding: 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: all;
    transition-duration: 0.2s;
    background: linear-gradient(180deg, var(--color-slate-50), var(--color-slate-200));
}

.productItemCard:hover {
    scale: 1.02;
    box-shadow: 0px 2px 4px var(--color-blue-400);
}

.productTitle {
    font-weight: 600;
    font-size: 18px;
}

.cardBtns {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.viewBtn {
    background: linear-gradient(135deg, var(--color-amber-300), var(--color-amber-500));
}

.addToCartBtn {
    background: linear-gradient(135deg, var(--color-cyan-300), var(--color-cyan-500));
}

/* ----- PRODUCT LIST ----- */
.productsListContainer {
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-slate-800);
}

.productList {
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 12px;
}

/*-----------------------------------------------

/* ----- PRODUCT DETAILS PAGE ----- */
.productDetailsContainer {
    padding: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--color-slate-800);
}

.productDetails {
    margin: 15px;
    padding: 20px 12px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background:  linear-gradient(180deg, var(--color-slate-50), var(--color-slate-200));
    box-shadow: 0px 2px 10px var(--color-slate-400);
}

.textDiv {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.btnDiv {
    padding: 8px 0;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

/* ----- NOT FOUND ----- */
.notFound {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: var(--color-red-50);
}

.notFound h1 {
    font-size: 56px;
    font-weight: 700;
    color: var(--color-red-600);
}

.notFound h2 {
    font-weight: 500;
    font-size: 32px;
    color: var(--color-red-600);
}

/*------------------------------------------------*/

/* ----- MEDIA QUERIES ----- */

/* SMALL SCREEN */
@media (max-width: 600px) {
    .productList {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    }

    .btnDiv {
        display: flex;
        flex-direction: column;
    }
}